@use '../base/global';
@use '../base/utils';

form, 
.container, 
.group{
  @include utils.flex-column-center;
}

.container{
  gap: 1em;
  font-size: global.$fs-400;
}

h1{
  font-weight: bold;
}

input:not(.account-submit){
  border: 2px solid global.$primary-dark;
}

.account-submit{
  margin: 1em;
  padding: 0.25em 1em 0.25em 1em;
  font-weight: bold;
  @include utils.background-transition(global.$primary-dark);
}

.account-submit:hover{
  @include utils.background-transition-hover(global.$white);
}
