@using Microsoft.AspNetCore.Identity
@using style_catalog.Models
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <title>@ViewData["Title"] - Mixin Catalog</title>
    <link rel="stylesheet" href="~/css/base/reset.css" asp-append-version="true" />   
    <link rel="stylesheet" href="~/css/Layout/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/mobile-menu.css" asp-append-version="true" />          
    @RenderSection("css", required: false)
</head>
<body>
    <div class="mobile-top">
        <a asp-controller="Home" 
            asp-action="Home"
            id="logo">Mixin Catalog
        </a> 
        <partial name="_MobileMenuPartial"/>
    </div>

    <main>        
        @RenderBody()
    </main>
    
    <nav>
        <ul class="bottom">
            <li>
                <a asp-controller="Home" 
                   asp-action="Home">Home</a>
            </li>
            <li>
                <a asp-controller="Home" 
                   asp-action="Browse">Browse Mixins</a>
            </li>
            @if (SignInManager.IsSignedIn(User)){
            <li>
                <a asp-controller="Mixin" 
                   asp-action="List">List of Mixins</a>
            </li>
            <li>
                <a asp-controller="Mixin" 
                   asp-action="Create">Create a new mixin</a>
            </li>
            }
        </ul>
    </nav>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
