<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mixin Catalog</title>
    <link rel="stylesheet" href="~/css/base/reset.css" asp-append-version="true" />   
    @* <link rel="stylesheet" href="~/css/base/_global.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/Layout/homepage.css" asp-append-version="true" />     
    @RenderSection("css", required: false)
</head>
<body>
    <nav>
        <ul class="top">
            <li>
                <a asp-controller="Home" 
                    asp-action="Home"
                    id="logo">Mixin Catalog</a> 
            </li>
            <partial name="_SignInPartial" />
        </ul>
    </nav>
    <main>        
        @RenderBody()
    </main>
    <nav>
        <ul class="bottom">
            <li>
                <a asp-controller="Home" 
                   asp-action="Home">Home</a>
            </li>
            <li>
                <a asp-controller="Home" 
                   asp-action="Privacy">Privacy</a>
            </li>
            <li>
                <a asp-controller="User" 
                   asp-action="Index">User Index</a>
            </li>
        </ul>
    </nav>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
