@model style_catalog.Models.Mixin;

<div class="snippet">
  <span class="stamp" 
        data="tag">@@mixin</span>
  <span class="name" 
        data="tag">@this.ViewData["name"]</span>
  {
    <pre class="formatted-body">
      @this.ViewData["body"]
    </pre>
  }
</div>
