@model style_catalog.Models.Mixin;

@{
  string argumentPlaceholder = "$size";
  string propertyPlaceholder = @"width: $size;
                                 height: $size;";
}

<form asp-action="Create" class="snippet">
  <div class="validation-summary" 
       asp-validation-summary="All" 
      class="text-danger">
  </div>

  <div>
    <span class="stamp" data="tag">
      @@mixin
    </span>
    <span>
      <input asp-for="name"
             class="name"
             placeholder="square"/>
    </span> 
    <span data="tag">{</span>
  </div>

  <div>
    <span data="tag">(</span>
      <input asp-for="arguments"
             class="arguments"
             placeholder=@argumentPlaceholder/>
    <span data="tag">)</span>
  </div>
  
  <div>
    @Html.TextAreaFor(model => model.body, new {
      rows=5,
      @placeholder=@propertyPlaceholder, 
      @class = "formatted-body"}
    )
    <div data="tag">}</div>
  </div> 

  <input type="submit" value="&#8658; Create" class="submit" id="mixin-create" class="action-button"/>

</form>
