@model style_catalog.Models.Mixin;

<a  class="snippet" 
    asp-controller="Mixin" 
    asp-action="Details" 
    asp-route-id=@this.ViewData["id"]>
    
  <div>
    <span class="stamp" data="tag">@@mixin</span>
    <span class="name" 
          data="tag">
      @this.ViewData["name"]
      <span data="tag">
        @this.ViewData["arguments"]
      </span>
    </span>
    <span data="tag">{</span>
  </div>

  <div>
    <pre class="formatted-body">
      @this.ViewData["body"]
    </pre>
  <div data="tag">}</div>
  </div>

</a>
