@model style_catalog.Models.Mixin;

  @* <span class="tag">@@mixin</span>
  <span class="name">@this.ViewData["name"]</span>
  {
    <pre class="formatted-body">
      @this.ViewData["body"]
    </pre>
  } *@

 <form asp-action="Create" class="snippet">
      <div class="group"
           class="validation-summary" 
           asp-validation-summary="All" 
           class="text-danger">
      </div>
      
      <span class="tag">@@mixin</span>
      <span class="group">
        <input asp-for="name"
               id="name"
               placeholder="flex-column"/>
      </span> 
      <span>{</span>

      <div class="group">
        @Html.TextAreaFor(model => model.body, new { 
          @placeholder="display: flex;", 
          @class = "formatted-body"})
        @* <textarea class="formatted-body" 
                  asp-for="body" 
                  placeholder="display: flex;">
        </textarea> *@
        @* <pre class="formatted-body">
          <input asp-for="body"/>
        </pre> *@
      </div> 
      <span>}</span>

      <input type="submit" value="Create" class="submit" id="mixin-create"/>
  </form>
