@using Microsoft.AspNetCore.Identity
@using style_catalog.Models
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@if (SignInManager.IsSignedIn(User)){
    <li>
        Hello, @UserManager.GetUserName(User);
    </li>
    <li>
        <a id="logout" 
        asp-controller="Account" 
        asp-action="SignOut">Sign out</a>
    </li>
}
else{
    <li>
        <a id="register" 
        asp-controller="Account" 
        asp-action="Register">Register</a>
    </li>
    <li>
        <a id="login" 
        asp-controller="Account" 
        asp-action="SignIn">Sign in</a>
    </li>
}


