@model style_catalog.Models.Account;

<h1>Login</h1>
  <div>
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="group">
          <label asp-for="username" class="control-label"></label>
            <input asp-for="username" class="form-control" />
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
        <div class="group">
            <label asp-for="password" class="control-label"></label>
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <label>
            @* <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe) *@
        </label>
        <input type="submit" value="Log In"/>
    </form>
  </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}