@using Microsoft.AspNetCore.Identity;
@model style_catalog.Models.Account;
@inject UserManager<Account> UserManager;

@{
    ViewData["Title"] = "Register";
}
@section css{
  <link rel="stylesheet" href="~/css/Account/account.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Account/register.css" asp-append-version="true" />   
}

<div class="container">
  <h1>Account Register</h1>

  <form asp-action="Register">
      <div class="group"
           class="validation-summary" 
           asp-validation-summary="All" 
           class="text-danger">
      </div>
      <div class="group">
          <label asp-for="UserName" class="control-label">
            @Html.DisplayName("Username:")
          </label>
          <input asp-for="UserName" class="form-control" />
      </div>
      <div class="group">
          <label asp-for="Password" class="control-label">
            @Html.DisplayName("Password:")
          </label>
          <input asp-for="Password" class="form-control" />
      </div>
      <div class="group">
          <label asp-for="ConfirmPassword" class="control-label">
            @Html.DisplayName("Confirm Password:")
          </label>
          <input asp-for="ConfirmPassword" class="form-control" />
      </div>
      <input type="submit" value="Create" class="account-submit" id="account-create"/>
  </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}