@model style_catalog.Models.Account;
@{
    ViewData["Title"] = "Register";
}
@section css{
  <link rel="stylesheet" href="~/css/Register/register.css" asp-append-version="true" />   
}

<div class="container">
  <h1>Account Register</h1>
  <form asp-action="Register">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="group">
          <label asp-for="firstName" class="control-label">
            @Html.Label("First Name:")
          </label>
          <input asp-for="firstName" class="form-control" />
          <span asp-validation-for="firstName" class="text-danger"></span>
      </div>

      <div class="group">
          <label asp-for="username" class="control-label">
            @Html.DisplayName("Username:")
          </label>
          <input asp-for="username" class="form-control" />
          <span asp-validation-for="username" class="text-danger"></span>
      </div>
      <div class="group">
          <label asp-for="password" class="control-label">
            @Html.DisplayName("Password:")
          </label>
          <input asp-for="password" class="form-control" />
          <span asp-validation-for="password" class="text-danger"></span>
      </div>
      <div class="group">
          <label asp-for="confirmPassword" class="control-label">
            @Html.DisplayName("Confirm Password:")
          </label>
          <input asp-for="confirmPassword" class="form-control" />
          <span asp-validation-for="confirmPassword" class="text-danger"></span>
      </div>
      <input type="submit" value="Create"/>
  </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}