@model style_catalog.Models.Mixin;

@{
    ViewData["Title"] = "Create";
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Mixin/create.css" asp-append-version="true" />   
}

<div class="container">
  <h1>Add to Catalog</h1>

  <partial name="_MixinCreatePartial"/>
</div>