@model style_catalog.Models.Mixin;

@{
    ViewData["Title"] = "Delete";
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
}

<div class="container">
  <h1>Delete from Catalog</h1>

  @* <partial name="_MixinCreatePartial"/> *@
</div>