@model IQueryable<Mixin>;

@{
    ViewData["Title"] = "List";    
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Mixin/list.css" asp-append-version="true" />   
}

@if(Model.Count()==0){
    <h1 class="empty">Mixin catalog is empty</h1>
}
else{
  <h1>Catalog</h1>
  <div id="mixin-list">
  @foreach(var mixin in Model){
    @await Html.PartialAsync(
      "../Shared/_MixinPartial.cshtml",
      mixin,
      new ViewDataDictionary(this.Vi‌​ewData) {
      { "name", mixin.name },
      { "body", mixin.body },
      { "id", mixin.Id },
      { "arguments", mixin.arguments is null ? "" : $"({mixin.arguments})"},
    })
  }
  </div>
}
