@model IQueryable<Mixin>;

@{
    ViewData["Title"] = "List";    
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Mixin/list.css" asp-append-version="true" />   
}

@if(Model.Count()==0){
  <div>no mixins</div>
}
else{
  foreach(var mixin in Model){
    @await Html.PartialAsync(
      "../Shared/_MixinPartial.cshtml",
      mixin,
      new ViewDataDictionary(this.Vi‌​ewData) {
      { "name", mixin.name },
      { "body", mixin.body },
      { "arguments", mixin.arguments is null ? "" : $"({mixin.arguments})"},
    })
  }
}

