@{
    ViewData["Title"] = "Mixin";    
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Mixin/select.css" asp-append-version="true" />   
}

<div>@ViewBag.id</div>


