@use '../base/global';
@use '../base/utils';
$border-rounded: 10px;

form, 
.container, 
.group{
  @include utils.flex-column-center;
}

.container{
  gap: 1em;
}

input:not(#account-login){
  border: 1px solid global.$primary-dark;
  border-radius: $border-rounded;
}