@use '../base/global';
@use '../base/utils';
@use '../base/media';

@font-face {
  font-family: "Bungee";
  src: url("../../assets/fonts/BungeeShade-Regular.ttf");
}

$color-list:(
  'first': utils.add-opacity(global.$primary, 0.4),
  'second': global.$white,
  'third': utils.add-opacity(global.$secondary, 0.4)
);

.overlay{
  z-index: 3;
}

body{
  @include utils.background-gradient($color-list...);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  background-attachment: fixed;
  overflow-x: hidden;

  aspect-ratio: 600/900;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/wave-haikei-mobile.svg");

  nav{
    ul{
      display: flex;
      justify-content: space-between;    
    }
  }

  main{
    align-self: center;
  }
}

#page-desc{
  color: global.$primary-dark;
  font-size: global.$fs-600;
  font-family: Bungee;
  text-decoration: global.$primary-dark blink underline;
  -webkit-text-stroke-width: 0.5px;
}

.call-to-actions{
  &{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  display: inline-flex;
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  color: global.$primary-dark;
  font-size: global.$fs-600;
  font-weight: bold;
  border-radius: global.$border-rounded;
  padding: 0.5em 1em 0.5em 1em;

  background: linear-gradient(to left, transparent 50%, 
                                     global.$primary-dark 50%) right;
  background-size: 200%;
  transition: all .3s ease-in;
}

.call-to-actions:hover{
  color: global.$white;
  transform: translate(10px, 0);
  background-position: left;
}

#logo{
  font-size: global.$fs-xl;
  -webkit-text-stroke-width: 2px;
  text-decoration: underline;
  color: global.$primary-dark;
  font-family: Bungee;
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 8px dashed global.$primary-dark;
  border-right: 8px dashed global.$primary-dark;
  border-bottom-right-radius: global.$border-rounded;
  width: 50%;
  display: inline-flex;
  
  @media screen and (min-width: media.$tablet){
    width: 25%;
  }
}







