@use '../base/global';
@use '../base/utils';
@use '../base/media';

@font-face {
  font-family: "Bungee";
  src: url("../../assets/fonts/BungeeShade-Regular.ttf");
}

$color-list:(
  'first': utils.add-opacity(global.$primary, 0.4),
  'second': global.$white,
  'third': utils.add-opacity(global.$secondary, 0.4)
);

body{
  @include utils.background-gradient($color-list...);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  background-attachment: fixed;
  overflow-x: hidden;
  color: global.$primary-dark;
  font-size: global.$fs-400;

  aspect-ratio: 600/900;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/wave-haikei-mobile.svg");

  nav{
    ul{
      display: flex;
      justify-content: space-between;    
    }
  }

  main{
    align-self: flex-start;
    padding-left: 1em;

    @media screen and (min-width: media.$mobile){
      align-self: center;
    }
  }
}

.call-to-actions{
  &{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  color: global.$primary-dark;
  font-size: global.$fs-600;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  @include utils.background-transition(global.$primary-dark);
}

.call-to-actions:hover{
  @include utils.background-transition-hover(global.$white);
}

#logo{
  font-size: global.$fs-xl;
  -webkit-text-stroke-width: 2px;
  text-decoration: underline;
  color: global.$primary-dark;
  font-family: Bungee;
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 15px double global.$primary-dark;
  border-right: 15px double global.$primary-dark;
  width: 50%;
  display: inline-flex;
  
  @media screen and (min-width: media.$tablet){
    width: 25%;
  }
}

#page-desc{
  // width: 50%;
  color: global.$primary-dark;
  background-color: global.$secondary-faded;
  font-size: global.$fs-600;
  font-weight: bold;
  font-style: italic;
}







