@use '../base/global';
@use '../base/utils';

h1{
  font-weight: bold;
}

#mixin-create{
  // margin: 1em;
  padding: 0.25em 1em 0.25em 1em;
  font-weight: bold;
  @include utils.background-transition(global.$primary-dark);
}

#mixin-create:hover{
  @include utils.background-transition-hover(global.$white);
}