@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

form, 
.container, 
.group{
  @include flex-column;
}

.container{
  gap: 1em;
}

input:not(input[type="submit"]){
  border: 1px solid black;
}

input[type="submit"]{
  background-color: lightgrey;
}