@model IQueryable<Mixin>;

@{
    ViewData["Title"] = "Browse";
}
@section css{
  <link rel="stylesheet" href="~/css/Mixin/format.css" asp-append-version="true" />   
  <link rel="stylesheet" href="~/css/Mixin/list.css" asp-append-version="true" />   
}

<div class="container">
  <h1>@ViewData["Title"] Mixins</h1>

  @await Html.PartialAsync(
    "../Shared/_MixinPartial.cshtml",
    Model,
    new ViewDataDictionary(this.Vi‌​ewData) {
      { "name", "name" },
      { "body", "body"}
    }
  )
</div>


