@using Microsoft.AspNetCore.Identity
@using style_catalog.Models
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@{
    ViewData["Title"] = "Home";
}

<a asp-controller="Home" asp-action="Browse" class="call-to-actions action-button">
    <span>&#8658;</span> Browse Mixins
</a>
<a href="https://sass-lang.com/documentation/at-rules/mixin/"
    target="_blank"
    class="call-to-actions action-button">
    <span>&#8658;</span> Visit the docs
</a>
