@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 id="page-desc">Build a catalog of your favorite SASS mixins!</h1>
    <a asp-controller="Home" asp-action="Browse" class="call-to-actions">
        <span>&#8658;</span> Browse Mixins
    </a>
    <a href="https://sass-lang.com/documentation/at-rules/mixin/"
       target="_blank"
       class="call-to-actions">
        <span>&#8658;</span> View the docs
    </a>
</div>
