@{
    ViewData["Title"] = "Home";
}

<a asp-controller="Home" asp-action="Browse" class="call-to-actions">
    <span>&#8658;</span> Browse Mixins
</a>
<a href="https://sass-lang.com/documentation/at-rules/mixin/"
    target="_blank"
    class="call-to-actions">
    <span>&#8658;</span> View the docs
</a>
