@model style_catalog.Models.User

@{
    ViewData["Title"] = "Sign In";
}

<div>
    <h1>Sign in</h1>
    <form action="action_page.php" method="post">
      <div>
        <div class="group">
          <label asp-for="username" class="control-label">
            Username:
          </label>
          <input asp-for="username" placeholder="Enter Username" class="form-control" required/>
          <span asp-validation-for="firstName" class="text-danger"></span>

          <label asp-for="passwordHash" class="control-label">
            Password:
          </label>
          <input asp-for="passwordHash" class="form-control" required/>
          <span asp-validation-for="passwordHash" class="text-danger"></span>
        </div>
        <div class="group">
          <input type="submit" value="Sign In"/>
          <label>
            <input type="checkbox" checked="checked"> 
            Remember me
          </label>
        </div>
      </div>

  </form> 
</div>
