$primary: #ec3562;
$primary-dark: #610D48;
$secondary: #d2f03c;
$secondary-dark: #62701C;

$accent: #ed4324;
$accent-secondary: #046a55;
$highlight: #fecb02;
$light-grey: #8d8f773d;
$dark-grey: #271e24;
$white: #F2F2F2;
$border-rounded: 10px;
// $background-gradient: (45deg, rgba(239, 37, 178, 0.4) 0%, 
//                               rgba(249,249,249,1) 50%, 
//                               rgba(210,240,60,0.4) 100%);

