$primary: #AD057B;
$primary-dark: #610D48;
$secondary: #d2f03c;
$secondary-dark: #62701C;
$background-gradient: (45deg, rgba(239, 37, 178, 0.4) 0%, 
                              rgba(249,249,249,1) 50%, 
                              rgba(210,240,60,0.4) 100%);

