@function add-opacity($base-color, $value) {
  @return rgba($base-color, $value);
}

@mixin background-gradient($first, $second, $third: "default"){ 
  background: linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
  background: -webkit-linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
  background: -moz-linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

