@function add-opacity($base-color, $value) {
  @return rgba($base-color, $value);
}

@mixin background-gradient($first, $second, $third: "default"){ 
  background: linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
  background: -webkit-linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
  background: -moz-linear-gradient(45deg, $first 0%, $second 50%, $third 100%);
}

@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transform-Z($valueY, $valueZ){
  -webkit-transform: translateY($valueY) rotateZ($valueZ);
  -moz-transform: translateY($valueY) rotateZ($valueZ);
  -ms-transform: translateY($valueY) rotateZ($valueZ);
  -o-transform: translateY($valueY) rotateZ($valueZ);
  transform: translateY($valueY) rotateZ($valueZ);
}

@mixin animating($name, $duration){
  -moz-animation: $name $duration linear infinite forwards;
  -webkit-animation: $name $duration linear infinite forwards;
  animation: $name $duration linear infinite forwards;
}

@mixin visibility($condition){
  @if($condition == 'visible'){
    opacity: 1;
    visibility: visible;
  }
  @if($condition == 'hidden'){
    opacity: 0;
    visibility: hidden;
  }
}

@mixin background-transition($color){
  background: linear-gradient(to left, transparent 51%, 
                                 $color 50%) right;
  background-size: 200%;
  transition: all .3s ease-in;
}

@mixin background-transition-hover($color){
  color: $color;
  transform: translate(10px, 0);
  background-position: left;
}

