body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  nav{
    ul{
      display: flex;
      justify-content: space-between;    
    }
  }

  main{
    align-self: center;
  }
}

#sign-in-manager{
  display: flex;
  flex-direction: column;
}
